<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144961822940-7a21sajp21btrp14rumj9dte6tr032jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144961822940-7a21sajp21btrp14rumj9dte6tr032jk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144961822940-5d0vtqr5vn4iolhasugb69pggvof1b0t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6PY3TItU5otv5VnKBxm1WpgDZyiOTRn0</string>
	<key>GCM_SENDER_ID</key>
	<string>144961822940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HatH.therapist</string>
	<key>PROJECT_ID</key>
	<string>heal8home-ea013</string>
	<key>STORAGE_BUCKET</key>
	<string>heal8home-ea013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144961822940:ios:7052d925b5c32ed7219419</string>
</dict>
</plist>